<div>
    <label for="email">Ingrese su email:</label>
    <input type="email" name="email" id="email">
    <label for="mensaje">Ingrese un mensaje</label>
    <input type="text" name="mensaje" id="mensaje">
    <button type="button" id="btnAgregar">Enviar</button>
</div>

<div id="messagesList"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script src="/css/index.css"></script>